{% extends "users/base.html" %}

{% load static %}

{% block barra %}
<body class="text-center"></body>

<h2 style="color: seashell;">List Products</h2>

</body>

{% endblock %}

{% block content %}

{% if products %}
        <table class="form-product" border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Active</th>

                    
                    

                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                
                    <tr>
                        <td>{{ product.name_product }} </td>
                        <td width="75%">{{ product.description }}</td>
                        <td>{{ product.active }} </td>
                        
                        {% if perms.NutInf.change_product %}
                        <td><a href="/editar_valor/{{ infonut.id }}" style="color: blanchedalmond;">Edit</a></td>
                        {% endif %}
                        {% if perms.NutInf.delete_product %}
                        <td><a href="/eliminar_valor/{{ infonut.id }}" style="color: blanchedalmond;">Remove</a></td>
                        {% endif %}
                    </tr>
                    
                {% endfor %}
                
            </tbody>
        </table>

    {% else %}
         <h1>No existe valores</h1>
    {% endif %}
      <br/>
    <button type="button">
        {% if perms.NutInf.add_product %}
        <input type="button" onclick="location.href='/crear_producto'" value="Create product" style="cursor: pointer;">
        {% endif %}
    </button>



{% endblock %}